.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  padding: 8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);

  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signin-container h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.signin button {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #3dc3fd;
  color: #fff;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #2b9cee;
}

.form-group button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-group input[type="checkbox"] {
  margin-right: 1rem;
}

.form-group label[htmlFor="rememberMe"] {
  margin-left: 1rem;
}